
/* media query  */
@media (max-width : 1080px) {


}


@media (max-width : 991px) {
    html{
        font-size: 58%;
    }
    .home-sec .navbar{
        border-radius: 0!important;
        z-index: 99999;
    }
    .navbar-nav .nav-link{
        background-color: #e9e9e9;
        border-radius: 50rem;
        text-align: center;
        font-size: 2rem;
        margin: .5rem 0;
        padding: 1rem;
    }
    .heading-text{
        min-width: 70rem;
        font-size: 3rem;
    }
    .work-process{
        padding: 2rem;
    }

}
@media (max-width : 790px) {
    html{
        font-size: 55%;
    }
    .heading-text{
        min-width: 48rem;
        font-size: 2.7rem;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }
      .testimonials {
        padding: 1rem;
    }
    .pricing-plan{
        padding: 5rem 2rem;
    }
}

@media (max-width : 589px){
    html{
        font-size: 50%;
    }
    .counter .numbers{
        display: block !important;
        margin:auto;
    }
    .counter .numbers>div:first-child{
        display: block;
        margin: 3rem auto;
    }
    .blog{
        padding: 5rem 3rem;
    }
    .contact {
        padding: 7rem 3rem;
    }
}


@media (max-width : 435px){
    .heading-text{
        min-width: 35rem;
    }
    .about img{
        max-width: 80%;
    }
    .about .content{
        max-width: 90%;
    }
    .work-process .box{
        width: 95%;
        padding: 4rem .5rem;
    }
    .testimonials {
        padding: .5rem;
    }
    .pricing-plan{
        padding: 4rem .5rem;
    }
    .pricing-plan .starter,
    .pricing-plan .primium,
    .pricing-plan .advance{
    width: 95%;
    padding: 3rem 0.5rem;
    }
    .blog{
        padding: 4rem .5rem;
    }
    .blog .card-img-top{
        max-width:95%;
    }
    .contact {
        padding: 5rem .5rem;
    }
}

@media (max-width : 279px){
    html{
        font-size: 45%;
    }
}
